html {
  box-sizing: border-box;
}

* *::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #757575;
  --white-color: #ffffff;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
}
/*розметка  heder*/
.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-bord {
  border-bottom: 1px solid #ECECEC;
}
.header-cont {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  padding-left: 0px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo-footer{
  padding: auto;
}
.menu {
  display: flex;
  align-items: center;
  padding-left: 0px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}

.mail-link
{
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
  
}

.mail-link,
.tel-link{
  text-decoration: none;
  font-weight: 500;
  text-align: center;
   color: var(--text-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail,
.icon-phon{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-phon{
  width: 10px;
  height: 16px;
}
.mail-link:hover,
.mail-link:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.tel-link:hover,
.tel-link:focus{
  color: var(--secondary-color);
  fill: var(--secondary-color);
}
.icon-mail:hover,
.icon-mail:focus{
  fill: var(--secondary-color);
}
.icon-phon:hover,
.icon-phon:focus{
  fill: var(--secondary-color);
}
/* header 1htm*/

.logo,
.logo-footer,
.logo-text {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  

  color: var(--accent-color);
}

.logo-text {
  color: var(--secondary-color);
}
.logo-txt {
  color: var(--white-color);
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-color);
}

.menu-link.current:after{
content:"";
width: 100%;
height: 4px;
position: absolute;

background: #2196F3;
border-radius: 2px;
display: block;
bottom: -1px;

}


.current {
  color: var(--secondary-color);
  position: relative;
}

.mail-link,
.tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--third-color);
  
}
.tel-link{
  display: flex;
  align-items: center;
}




/*END розметка  heder}*/

/* start hero 1htm*/
.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  color: var(--white-color);
}

.modal-btn {
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  padding: 12px 32px;

  border-radius: 4px;

  color: var(--white-color);
  border: none;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188CE8;

}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  
  color: var(--white-color);
  background: #C4C4C4;
  background-image: linear-gradient( to right, 
  rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4) ),
    url(../images/bd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto;
}

/*end hero*/

/* start skill 1htm*/
.skill-roster {
  display: flex;
padding-left: 0;
margin-left: 0;

}
.skill {
  padding-top: 94px;
}
.team,
.section-work,
.section-skill{
  padding-top: 94px;
  padding-bottom: 94px;
  
}
.team-roste r{
  margin-bottom: 94px;
}
.clients{
padding-top: 88px;
padding-bottom: 88px;
}

.roster-down {
  margin-bottom: 10px;
}

.roster-title {
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
}
.skill-item {
  flex-basis: calc((100%-120) / 4);
  width: 270px;
}
.skill-item:not(:first-child){
  margin-left: 30px;
}

.icon-group{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  
  background: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.item-down:not(:last-child) {
  margin-left: 30px;
}
.skill-description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  color: var(--third-color);
}
/* розметка skill END*/

/* start work 1htm*/
.work-roster{
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-top: 50px;
}

.work {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
margin-bottom: 50px;
  color: var(--accent-color);
  margin: 0px;
}
.worktop{
  width: 370px;
  position: relative
}

.work-list{
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 1.14;
  
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

/* end work 1htm*/

/* start team 1htm*/

.team{
  background-color: #F5F4FA;
}

.team-roster{
 display: flex;
 padding-left: 0px;
justify-content: space-between;
margin-top: 50px;

}

.team-list{
  box-shadow: 0px 1px 3px var(--third-color);
  border-radius: 0px 0px 4px 4px;
}

.team-member,
.team-activity{
  background-color: #FFFFFF;
  border-radius: 3px
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  margin-bottom: 50px;
  color: var(--accent-color);
  margin: 0px;
}

.team-member {
  font-size: 16px;
  line-height: 0.84;
  font-weight: 500;

  text-align: center;
  color: var(--accent-color);
}

.team-activity {
  font-size: 16px;
  line-height: 1.89;
margin-top: 10px;
margin-bottom: 16px;
  text-align: center;

  color: var(--third-color);
}
.social-list{
  padding: 0;
  display: flex;
  justify-content: space-between;
  
}
.social-list-icon{
  width: 20px;
  height: 20px;
  
}
.social-list-link{
  display: flex;
  
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
fill: #ffffff;
background-color: #2196F3;
}
/* END team 1htm*/

/*start logo link*/
.location {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
  color: var(--white-color);
}

.communication-mail,
.communication-tel {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.communication-mail:hover,
.communication-mail:focus {
  color: var(--secondary-color);
}

.communication-tel:hover,
.communication-tel:focus {
  color: var(--secondary-color);
}

/* portfolio.2htm*/

.nav-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  

  color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--secondary-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
 border-radius: 4px;
}

.card-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  color: var(--accent-color);

}

.card-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;


  color: var(--third-color);
}
.description{
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;


}

/* fon*/


.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address{
  margin-top: 20px;
}
.footer-mail{
  margin-top: 8px;
}
.footer-tel{
  margin-top: 8px;

}
/*team-title*/

.team-describe{
  padding: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--white-color);
}
  


/*footer*/


.communication {
  margin: 0px;
  padding-left: 0px;
 
}
.footer-right-title{
font-weight: bold;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;

color: var(--white-color);
}


/*портфолио*/
.nav{
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  
}
.list-butt{
  display: inline-block;
}
  .list-butt:not(:last-child){
margin-right: 8px;

  }

.card-list{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  
}
.portfolio-card{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  
}
.portfolio-card:nth-child(3n){
  margin-right: 0px;
}

.card-way{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.card-way:hover,
.card-way:focus{        
display: block;
box-shadow: 0px 1px 1px 
rgba(0, 0, 0, 0.12), 0px 4px 4px 
rgba(0, 0, 0, 0.06), 1px 4px 6px 
rgba(0, 0, 0, 0.16);
}
.imgwork{
  width: 370px;

}
.img-overlay{
  position: relative;
  overflow: hidden;
}
.overlay{
position: absolute;
background: rgba(33, 150, 243, 0.9);
color: #FFFFFF;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: auto;

padding: 63px 24px;
font-family: var(--main-font);
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-way:hover .overlay,
.card-way:focus .overlay{
  transform: translateY(0%);
}

/* clients*/

.footer-information{
  display: flex;
  align-items: baseline;
}
.logo-second{
  margin-right: 70px;

}

.footer-right-box{
  width: 206px;
  
}
.footer-list{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding:0;
  
}
.footer-list-social{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(100%, 100%, 100%, 0.1);
  fill: #ffffff;
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social:hover,
.footer-list-social:focus{
  background-color: var(--secondary-color)      ;
}
.footer-list-icon{
  width: 20px;
  height: 20px;
 
}
.form-footer{
margin-left: 93px;
}

.singup-footer-form{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: transparent;
padding: 15px;
color: #ffffff;
}

.button-form{
background-color: var(--secondary-color);
width: 200px;
height: 50px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;



font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color:var(--white-color);
position: relative;
margin-left: 12px;
cursor: pointer;



}

.svg-form-footer{
position: absolute;
top: 13px;
right: 28px;
}

.clients-list-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list{
margin-top: 50px;
display: flex;
justify-content: space-between;
padding-left: 0px;
  
}
.icon-list{
width: 170px;
height: 92px;

}
.icon-list-link{
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #afb1b8;
border-radius: 4px;
width: 100%;
height: 100%;
fill: #AFB1B8;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-list-link:hover,
.icon-list-link:focus{
  fill: var(--secondary-color);
  border: 1px solid var(--secondary-color);
border-radius: 4px;
  
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  transform: translate(-50%,-50%);
}

.close-btn{
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: transparent;
cursor: pointer;
padding: 0;
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
